@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    src:
        local('PT Sans'),
        local('PT Sans Regular'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;
    src:
        local('PT Sans'),
        local('PTSans-Bold'),
        url('../fonts/ptsansbold.woff') format('woff'),
        url('../fonts/ptsansbold.woff2') format('woff2'); 
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-navigation {
    padding: 0 73px;
}

.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    
    background-color: #ffffff;
}

.site-navigation,
.features-list,
.causes-list,
.footer-social,
.result-list,
.hotels-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
}

.intro-title,
.intro-text,
.reason h2,
.reason-text,
.features-item h3,
.features-item p,
.causes-item h3,
.search h2,
.search-text,
.search-item,
.footer-copyrights,
.hotels-item-container h3 {
    margin: 0;
    padding: 0;
}

.main-navigation a{
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.promo {
    padding-top: 76px;
    padding-bottom: 91px;
    text-align: center;
    
    background-color: #333d41;
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    padding: 61px 0;
    
    text-align: center;
    
    background-color: #ffffff;

}

.intro-title {
    margin-bottom: 38px;
    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.intro-text {
    line-height: 26px;
}

.reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: #ffffff;
    
    background-color: #81b3d2;
}

.reason-content {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    padding: 0 60px;
    padding-top: 46px;
    
    text-align: center;
}

.reason-content h2 {
    margin-bottom: 25px;
}

.reason-text {
    margin-top: 30px;
}

.reason-img img,
.map img {
    display: block;
    width: 100%;
}

/*
.reason-img {
    max-height: 256px;
    margin-top: -72px;
    overflow: hidden;
}
*/

.reason-2 .reason-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.features {
    background-color: #ffffff;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 70px;
}

.features-item,
.causes-item {
    text-align: center;
}

.features-item {
    padding-top: 160px;
}

.features-item h3 {
    margin-bottom: 25px;
    
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.features-item p {
    margin-bottom: 85px;
}

.causes {
    padding-top: 50px;
    padding-bottom: 64px;
    
}
.causes-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 73px;
    
}

.causes-item h3 {
    margin-bottom: 45px;
    
    font-size: 21px;
}

.search {
    padding-top:  57px;
    text-align: center;
    
    background-color: #ffffff;
}

.search h2 {
    margin-bottom: 35px;
    
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.search-text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 52px;
    
    line-height: 24px;
    
}

.btn {
    font: inherit;
    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    border: none;
}

.btn-search-hotels {
    background-color: #766357;
}

.btn-search-hotels:hover,
.btn-search-hotels:focus {
    background-color: #604e43;
}

.btn-hotels:active{
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.search-form {
    width: 567px;
    margin: 0 auto;
    padding: 55px;
}

.search-form input {
    font: inherit;
    
    background-color: #f2f2f2;
    border: solid 2px transparent;
}

.search-form input:hover {
    background-color: #ebebeb; 
}

.search-form input:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
}

.search-form label {
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.btn-search {
    background-color: #81b3d2;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #669ec0;
}

.btn-search:active {
    background-color: #5496bd;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
    
    color: #000000;
    
    background-color: #ffffff;
}

.footer-tag,
.social-btn,
.footer-copyrights {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    text-align: center;
}

.footer-tag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.social-btn {
    color: #ffffff;
    
    background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.footer-copyrights {
    line-height: 26px;
}


/*Inner page*/

.filters {
    padding: 30px 72px;
    
    background-color: #5c7789;
    background-image: url(../img/filter-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
.filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: #ffffff;
}


.filters-form ul{
    list-style: none;
}

.filters-form input {
    font: inherit;
    
    background-color: transparent;
    border: solid 2px #ffffff;
    border-radius: 4px;
}

.filter-set {
    border: none;
}

.filter-set legend{
    font-size: 16px;
    font-weight: bold;
    text-align: left;  
}

.filter-infrastructure,
.filter-lodging {
    margin-right: 100px;
}

.filter-range {
    margin-left: auto;
}

.btn-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
    background-color: transparent;
    border: solid 2px #ffffff;
    border-radius: 4px;
}

.btn-price:hover {
    color: #333333;
    
    background-color: #ffffff;
}

.result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 30px 72px;
    
    color: #000000;
    text-align: left;
    
    background-color: #ffffff;
}

.result-text {
    margin-right: 50px;
    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.result-sorting,
.result-btn {
    font-size: 12px;
    line-height: 18px;  
}

.result-sorting {
    margin-right: 38px;
}

.result-btn {
    margin-right: 32px;
}

.result-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.result-btn {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d2;
}

.result-btn:hover,
.result-btn:focus {
    color: #81b3d2;
}

.result-btn:active {
    color: #000000;
    
    border-bottom: 1px dotted transparent;
}

.result-active {
    color: #81b3d2;
    
    border-bottom: 1px dotted transparent;
}

.hotels {
    color: #333333;
    text-align: left;
    
    background-color: #ffffff;
}

.hotels-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 30px 72px;
    
    border-top: 1px solid #f2f2f2;
}

.hotels-item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.hotels-item-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 30px;
    
}

.hotels-item-btn {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.hotels-item-btn:hover,
.hotels-item-btn:focus {
    color: #81b3d2;
}

.hotels-item-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.more-btn {
    
    
    font-size: 14px;
    line-height: 21px;
    
    background-color: #81b3d2;
}

.more-btn:hover,
.more-btn:focus {
    background-color: #669ec0;
}

.more-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.booking-btn {
    font-size: 14px;
    line-height: 21px;
    
    background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
}

.booking-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.hotels-rate {
    width: 110px;
    margin-left: auto;
    
    background-color: #f2f2f2;
}
