@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: local("PT Sans"),
        local("PT Sans Regular"),
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    font-style: normal;
    src: local("PT Sans"),
        local("PTSans-Bold"),
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Trebuchet MS", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}

.shadow {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;

    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.site-navigation,
.features-list,
.causes-list,
.footer-social,
.result-list,
.hotels-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.intro-title,
.intro-text,
.reason h2,
.reason-text,
.features-item h3,
.features-item p,
.causes-item h3,
.intrest h2,
.intrest-text,
.search-item,
.footer-copyrights,
.hotels-item-container h3 {
    margin: 0;
    padding: 0;
}

.main-header .container {
    position: relative;
    box-sizing: border-box;
    padding-left: 6%;
    padding-right: 6%;

    background-color: #ffffff;
}

.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.site-navigation li {
    width: 20%;
    padding: 15px 0;
    text-align: left;
    box-sizing: border-box;
}

.site-navigation li:nth-child(2) {
    margin-right: 20%;
    padding-left: 30px;
}

.site-navigation li:nth-last-child(2) {
    padding-right: 33px;
}

.site-navigation li:last-child,
.site-navigation li:nth-last-child(2) {
    text-align: right;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
    color: #766357;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    margin-left: -69px;
    width: 138px;
    height: 70px;

    cursor: pointer;
}

.promo {
    padding-top: 76px;
    padding-bottom: 72px;

    text-align: center;

    background-color: #333d41;
    background-position: center;
    background-image: url(../img/shape.png), url(../img/background.jpg);
    background-position: center bottom, center 20%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 40px 50px;

    text-align: center;

    background-color: #ffffff;
}

.intro-title {
    width: 440px;
    margin-bottom: 28px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.intro-text {
    line-height: 26px;
}

.reason {
    display: flex;

    color: #ffffff;

    background-color: #81b3d2;
}

.reason-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.333%;
    padding: 20px 4%;
    box-sizing: border-box;

    text-align: center;
}

.reason-content h2 {
    max-width: 170px;
    margin-top: -10px;
    margin-bottom: 25px;
    align-self: center;

    font-size: 21px;
}

.reason-text {
    margin: 0 auto;
    margin-top: 20px;
}

.reason-img {
    width: 66.666%;
    max-height: 256px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.reason-2 .reason-content {
    order: 2;
}

.features {
    background-color: #ffffff;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item,
.causes-item {
    width: 33.333%;

    text-align: center;
}

.features-item {
    padding: 0 4%;
    padding-top: 162px;
}

.features-item h3 {
    position: relative;

    margin-bottom: 25px;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.features-title::before {
    position: absolute;
    top: -105px;
    left: 50%;

    width: 77px;
    height:  78px;
    margin-left: -39px;

    content: "";

    background-repeat: no-repeat;
    background-position: bottom center;
}

.features-house::before {
    background-image: url(../img/icon-1.svg);
}

.features-food::before {
    background-image: url(../img/icon-3.svg);
}

.features-souvenirs::before {
    background-image: url(../img/icon-2.svg);
}

.features-item p {
    margin-bottom: 80px;
}

.causes {
    padding-top: 49px;
    padding-bottom: 60px;
}

.causes-list {
    display: flex;
}

.causes-item {
    padding: 0 5%;
    box-sizing: border-box;
}

.causes-item h3 {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 23px;

    font-size: 21px;
    text-align: center;
    color: #000000;
}

.intrest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    padding-top: 50px;

    background-color: #ffffff;
}

.intrest h2 {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.intrest-text {
    margin: 0 auto;
    margin-bottom: 45px;

    text-align: center;
    line-height: 24px;
}

.btn {
    padding: 8px 17px;

    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    border: none;
}

.btn-search-hotels {
    display: block;
    width: 568px;
    padding: 30px 0;

    background-color: #766357;

    cursor: pointer;
}

.btn-search-hotels:hover,
.btn-search-hotels:focus {
    background-color: #604e43;
}

.btn-search-hotels:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.map {
    position: relative;

    display: flex;

    background: #a5a89d;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.map iframe {
    width: 100%;
    height: 593px;

    border: 0;
}

.search-form {
    position: absolute;
    top: 0;
    left: 50%;

    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    width: 568px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: -284px;
    padding: 55px;

    background-color: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 1, 1, 0.2);
}

.search-form-show {
    display: flex;

    -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
    -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
}

.search-form-error {
    -webkit-animation-name: shake;
        animation-name: shake;
    -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
}

.search-item {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.search-form input {
    padding: 8px 12px;
    box-sizing: border-box;

    font: inherit;

    background-color: #f2f2f2;
    border: solid 2px transparent;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
}

.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

    opacity: 1;
}

.search-form input:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

    opacity: 1;
}

.search-form input::-ms-input-placeholder {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

    opacity: 1;
}

.search-form input::placeholder {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

    opacity: 1;
}

.search-form label {
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.search-item input[name="check-in"],
.search-item input[name="check-out"] {
    width: 346px;
    margin-left: auto;
}

.search-item .calendar {
    position: absolute;
    right: 0;
    top: 2px;

    display: block;
    width: 39px;
    height: 38px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.calendar path {
    fill: #a9a9a9;
}

.calendar:hover path,
.calendar:focus path {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}

.search-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.search-amount .search-item-column {
    display: flex;
}

.search-amount .field-adults {
    margin-right: 41px;
}

.search-amount .field-children {
    margin-right: 27px;
}

.search-amount input {
    width: 38px;
    height: 37px;
    padding: 0;

    text-align: center;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

    opacity: 1;
}

.search-amount .amount-sign {
    position: relative;

    display: block;
    width: 38px;

    font-size: 0;

    background-color: #f2f2f2;
    border: none;
}

.search-amount .amount-sign-minus::before {
    position: absolute;
    top: 18px;
    left: 13px;

    width: 12px;
    height: 3px;

    content: "";

    border-radius: 1px;
    background-color: #a9a9a9;
}

.search-amount .amount-sign-plus::before {
    position: absolute;
    top: 18px;
    left: 13px;

    width: 12px;
    height: 3px;

    content: "";

    border-radius: 1px;
    background-color: #a9a9a9;
}

.search-amount .amount-sign-plus::after {
    position: absolute;
    top: 14px;
    left: 17.5px;

    width: 3px;
    height: 12px;

    content: "";

    border-radius: 1px;
    background-color: #a9a9a9;
}

.amount-sign-minus:hover::before,
.amount-sign-plus:hover::before,
.amount-sign-plus:hover::after,
.amount-sign-minus:focus::before,
.amount-sign-plus:focus::before,
.amount-sign-plus:focus::after {
    background-color: #000000;
}

.amount-sign-minus:active::before,
.amount-sign-plus:active::before,
.amount-sign-plus:active::after {
    background-color: #81b3d2;
}

.btn-search {
    padding-top: 16px;
    padding-bottom: 17px;

    background-color: #81b3d2;

    cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #669ec0;
}

.btn-search:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.main-footer-index {
    position: relative;
    z-index: 10;

    display: block;
    min-height: 120px;
    margin-top: -120px;
}

.main-footer .container {
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;

    color: #000000;

    background-color: rgba(254, 254, 254, 0.9);
}

.footer-tag,
.footer-social,
.footer-copyrights {
    width: 33.333%;
}

.footer-tag {
    margin-top: -8px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    margin-bottom: 6px;

    color: #ffffff;

    background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    line-height: 26px;
}

.footer-copyrights span {
    margin-right: 10px;
    margin-top: -8px;
}

.footer-logo svg {
    width: 115px;
    height: 41px;
}

.footer-logo:hover path,
.footer-logo:focus path {
    fill: #81b3d2;
}

.footer-logo:active path {
    fill: #bdbbbc;
}

/*Inner page*/

.filters {
    padding: 27px 6% 5px;

    background-color: #5c7789;
    background-image: url(../img/filter-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.filters-form {
    display: flex;
    justify-content: space-between;
    padding: 0;

    color: #ffffff;
}

.filter-set {
    width: 24%;
    padding: 0;
    margin-left: -1px;
    margin-right: 4px;

    border: none;
}

.filter-set legend {
    margin-bottom: 25px;

    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.filters-form ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filters-form input {
    font: inherit;

    background-color: transparent;
    border: solid 2px #ffffff;
    border-radius: 4px;
}

.filter-option {
    margin-bottom: 25px;
}

.filter-option label {
    position: relative;
    z-index: 3;

    display: block;
    padding-left: 40px;
}

.filter-checkbox::before {
    position: absolute;
    top: -2px;
    left: 0;

    width: 23px;
    height: 23px;
    box-sizing: border-box;

    content: "";

    border: 2px solid #ffffff;
    border-radius: 4px;
}

input[type="checkbox"]:checked + .filter-checkbox::after {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;

    width: 27px;
    height: 23px;

    content: "";

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + label::before {
    border-color: rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:disabled + .filter-checkbox::after {
    background-image: url(../img/checkbox-on-disabled.svg);
}

input[type="checkbox"]:focus + label::before {
    outline: 3px solid #0dafdd;
}

.filter-range {
    width: 30%;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: auto;
}

.filter-range legend {
    margin-bottom: 9px;
}

.price-controls {
    position: relative;

    height: 32px;
    margin-bottom: 20px;
    margin-left: 1px;
    display: flex;
    align-items: center;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: "";

    background: #ffffff;

    -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.price-controls label {
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .price-min,
.price-controls .price-max {
    width: 90px;
}

.price-controls .price-min {
    padding-left: 64px;
}

.price-controls .price-max {
    padding-left: 57px;
}

.price-controls input {
    width: 40px;
    margin: 0;
    min-height: 32px;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 33px;
}

.range-controls .range-scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .range-bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;

    -webkit-transform: scale(1.1);
        transform: scale(1.1);
}

.btn-price {
    display: block;
    margin-left: 84px;
    padding: 6px 34px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    background-color: transparent;
    border: solid 2px #ffffff;
    border-radius: 4px;
}

.btn-price:hover {
    color: #333333;

    background-color: #ffffff;
}

.result {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 30px 72px;

    color: #000000;
    text-align: left;

    background-color: #fefefe;
}

.result-text {
    margin-right: 48px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.result-sorting,
.result-btn {
    font-size: 12px;
    line-height: 18px;
}

.result-sorting {
    margin-right: 41px;
}

.result-list {
    display: flex;
}

.result-btn {
    margin-right: 32px;

    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
}

.result-btn:hover,
.result-btn:focus {
    color: #81b3d2;
}

.result-btn:active {
    color: #000000;

    border-bottom: 1px dotted transparent;
}

.result-active {
    color: #81b3d2;

    border-bottom: 1px dotted transparent;
}

.result-icon {
    position: relative;

    display: flex;
    width: 20px;
    height: 11px;
    align-items: flex-end;
    margin-left: auto;
}

.result-icon .result-icon-up {
    position: absolute;
    top: -5px;
    left: -15px;

    width: 0;
    height: 0;
    margin-right: 12px;

    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #cacaca transparent;
}

.result-icon .result-icon-down {
    position: absolute;
    top: -5px;
    left: 7px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #cacaca transparent transparent transparent;
}

.result-icon .result-active {
    border-color: #81b3d2 transparent transparent transparent;
}

.result-icon .result-icon-up:hover,
.result-icon .result-icon-up:focus {
    border-color: transparent transparent #000000 transparent;
}

.result-icon .result-icon-down:hover,
.result-icon .result-icon-down:focus {
    border-color: #81b3d2 transparent transparent transparent;
}

.result-icon .result-icon-up:active {
    border-color: transparent transparent #81b3d2 transparent;
}

.result-icon .result-icon-down:active {
    border-color: #000000 transparent transparent transparent;
}

.hotels {
    color: #333333;
    text-align: left;

    background-color: #fefefe;
}

.hotels-item {
    display: flex;
    padding: 30px 72px;

    border-top: 1px solid #f2f2f2;
}

.hotels-item img {
    width: 135px;
    height: 90px;
}

.hotels-item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.hotels-item-container {
    width: 60%;
    align-self: flex-start;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: -5px;
    box-sizing: border-box;
}

.hotels-item-btn {
    display: block;
    margin-bottom: 8px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.hotels-item-btn:hover,
.hotels-item-btn:focus {
    color: #81b3d2;
}

.hotels-item-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn-container {
    display: flex;
}

.btn-container-left, .btn-container-right {
    display: flex;
    flex-direction: column;
}

.btn-container-left {
    margin-right: 6px;
}

.more-btn {
    margin-top: 13px;
    padding: 3px 17px;

    font-size: 14px;
    line-height: 21px;

    background-color: #81b3d2;
}

.more-btn:hover,
.more-btn:focus {
    background-color: #669ec0;
}

.more-btn:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.booking-btn {
    margin-top: 13px;
    padding: 3px 17px;

    font-size: 14px;
    line-height: 21px;

    background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
}

.booking-btn:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.hotels-rate {
    position: relative;

    width: 110px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rate-stars {
    min-height: 17px;
}

.rate-stars::before {
    position: absolute;
    top: 0;
    right: 0;

    height: 17px;

    content: "";

    background-image: url(../img/star.svg);
    background-repeat: space;
    background-position: 0 0;
}

.five-stars::before {
    width: 101px;
}

.four-stars::before {
    width: 89px;
}

.three-stars::before {
    width: 65px;
}

.two-stars::before {
    width: 42px;
}

.one-stars::before {
    width: 18px;
}

.rate-number {
    box-sizing: border-box;
    padding: 3px 5px;

    text-align: center;
    color: #666666;

    background-color: #f2f2f2;
}

/*ANIMATION*/

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
      50% {
        opacity: 1;
    }
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
